td {
  color: lightblue; 
  max-width: 9%; 
}

th {
  background-color: lightblue; 
}

table {
  color: bule; 
  width: 100%; 
  border-collapse: collapse; 
  border: 1px solid black;
}

p {
  color: black;
  font-size: 18px;
}

h1 { 
  text-shadow: 2px 2px lightblue; 
  margin-bottom: 30px;
}

body {
  border: 3px solid black; 
  border-style: solid double; 
  margin-top: 100px; 
  margin-right: 100px;
  padding-left: 30px;
  padding-right: 30px; 
  padding-bottom: 20px;
}
 
